html, body {
	font: 14px/1.21 'Helvetica Neue', arial, sans-serif;
	font-weight: 400;
}

h1 {
	text-align: center;
}

.artwork-upload {
	margin: 2em;
}

.artwork {
	margin: 1em 1em;
}

.artwork-list {
	display: flex;
	flex-wrap: wrap;
}

.artwork:not(.artwork-selected) .artwork-selected-icon {
	display: none;
}

.artwork-image {
	position: relative;
}

.artwork-image {
	width: 320px;
	height: 180px;
	background-color: lightgrey;
}

.artwork-image img {
	max-height: 180px;
	display: block;
	margin: auto;
}

.artwork-selected-icon {
	font-size: 200%;
	position: absolute;
	top: 10px;
	right: 10px;
}
